button{
    outline: none;
    box-shadow: none;
    border: none;
}

.framework-icon:hover{
    transform: scale(1.5);
    transition: 0.5s ease-in, 0.5s ease-out;
}
.contenedorStats img{
    width: 30em;
    height: 40em;
}
.collapsing{
    transition: 0.5s ease-in, 0.5s ease-out;
}

.site-logos img{
    margin: 10px;
    width: 80px;
    height:80px;
    object-fit: scale-down;
}